.mainContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  .pageTitle {
    margin-top: rem-calc(111);
    font-size: rem-calc(40);
    font-weight: 600;
    line-height: rem-calc(60);
  }
  .pageSubTitle {
    font-size: rem-calc(20);
  }
  .todoContainer {
    background-color: #fafafa;
    padding: rem-calc(8);
    border-radius: rem-calc(24);
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;

    .inputContainer {
      padding: rem-calc(16) rem-calc(12);
      display: flex;
      gap: rem-calc(12);
      font-size: rem-calc(16);
      flex: 1;

      .todoInput {
        flex: 1;
        padding: rem-calc(15) rem-calc(24);
      }
    }

    .listContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: rem-calc(12);
      padding: rem-calc(16);
      flex: 1;

      .todoLists {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: rem-calc(16);
        flex: 1;
      }
    }
  }
}

.flashMessageContainer {
  position: fixed;
  top: rem-calc(10);
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
}
.flashMessage {
  display: inline-block;
  z-index: 9999;
  animation: fadeOut 2s ease-in-out forwards;
  padding: rem-calc(4) rem-calc(8);
  background-color: #444;
  color: white;
}

@media (min-width: 768px) {
  .mainContainer {
    .todoContainer {
      width: rem-calc(800);
      // min-width: rem-calc(400);
      max-width: rem-calc(800);
      .inputContainer {
        flex: 1;
      }
    }
  }
}
